{% extends "layout.html" %}
{% block body %}
<script>
    // 日常问题/代码片段
    function type_change(btn_active){
        // 切换按钮状态
        if(btn_active.nextElementSibling==null){
            btn_active.previousElementSibling.className="btn btn-default"
        }else{
            btn_active.nextElementSibling.className="btn btn-default"
        }
        btn_active.className="btn btn-primary"
        //获取当前请求类型
        url_type = btn_active.name
        //构建ajax请求
        // uid = sessionStorage.getItem('uid')
        sessionStorage.setItem('card_type',url_type)
        //调用下一页的ajax请求，把类型改变查找下一页的方式。
        next_card()



    }


</script>

    <div id="active_button_raw" class="row">
        <div class="col-xs-12 text-center">
            <div class="btn-group btn-group-lg" role="group" aria-label="card type">
                <a name="json_general" class="btn btn-{{ "primary" if card_type == "json_general" else "default" }}" onclick="type_change(this)">日常问题</a>
                <a name="json_code" class="btn btn-{{ "primary" if card_type == "json_code" else "default" }}" onclick="type_change(this)" >代码片段</a>
            </div>
        </div>
    </div>

    <hr/>
   
    <div class="row memorizePanel">
        <!--
        <div class="col-xs-2">
            <div class="alignContainer">
                <div class="alignMiddle text-right">
                    <br/>
                    <br/>
                    <a href="wewetw"><i class="fa fa-chevron-left fa-5x"></i></a>
                </div>
            </div>
        </div>
        -->
        <div class="alert alert-success" >
            <a href="#" class="alert-link">操作成功</a>
        </div>
        <div class="col-xs-8 col-xs-offset-2">
            <div class="panel panel-default cardFront">
                <div class="panel-body">
                    <div class="alignContainer">
                        <div class="alignMiddle frontText">
                            <a  class="btn  btn-link" href="javascript:void(0);" onclick="edit_card()">编辑抽认卡</a>
                            <a id="link_add_card"  class="btn  btn-link" href="javascript:void(0);" onclick="add_card()">添加抽认卡</a>
                            <a id="link_delete_card"  class="btn  btn-link" href="javascript:void(0);" data-toggle="modal" data-target="#deleteModal">删除该抽认卡</a>
                            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <h4 class="modal-title" id="deleteModalLabel">确认框</h4>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                    <label  class="control-label">确定要删除吗？</label>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal"  onclick="delete_card()">确认</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <h3 class="text-center">{{ card.front }}</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary cardBack">
                <div class="panel-body">
                    <div class="alignContainer">
                        <div id="back_card_img" class="alignMiddle frontText">
                            {% if card.type == 1 %}
                                {% if short_answer %}
                                    <div class="text-center largerText">
                                {% endif %}
                                    {{ card.back|replace("\n", "<br />")|safe }}
                                {% if short_answer %}
                                    </div>
                                {% endif %}
                            {% else %}
                                <pre><code>{{ card.back|escape }}</code></pre>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div class="col-xs-2">
            <div class="alignContainer">
                <div class="alignMiddle text-left">
                    <br/>
                    <br/>
                    <a href="ergergerge"><i class="fa fa-chevron-right fa-5x"></i></a>
                </div>
            </div>
        </div>
        -->
    </div>

    <div class="row">
        <div class="col-xs-12 text-center">
            <a href="javascript:" class="btn btn-primary btn-lg flipCard">
                <i class="fa fa-exchange"></i>
                看背面
            </a>
            &nbsp;
            &nbsp;
            <a  class="btn btn-success btn-lg" onclick="mark_know()">
                <i class="fa fa-check"></i>
                认识这张卡片
            </a>
            &nbsp;
            &nbsp;
            <a href="javascript:0;" class="btn btn-primary btn-lg" onclick="next_card()">
                下一张卡片
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <br />
            <br />
            <br />
            <a href="{{ url_for(card_type, card_id=card.id) }}" class="btn btn-default btn-sm">
                <i class="fa fa-bookmark"></i>
                标记这张抽认卡 (#{{ card.id }})
            </a>

        </div>
    </div>

    <div id='edit_card' class="well" style="display: none;">
        <h2>编辑抽认卡  #{{ card.id }}</h2>
        <form id="edit_form" method="post" class="cardForm">

            <div class="form-group">
                <label for="general" class="btn btn-default btn-lg">日常问题 &nbsp;
                    <input type="radio" name="type" value="1"
                           id="general" {{ "checked" if (card.type == 1) else "" }} />
                </label>
                <label for="code" class="btn btn-default btn-lg">代码片段 &nbsp;
                    <input type="radio" name="type" value="2" id="code" {{ "checked" if (card.type == 2) else "" }} />
                </label>
            </div>
            <div class="form-group">
                <label for="front">抽认卡正面</label>
                <input type="text" name="front" id="front" class="form-control" value="{{ card.front|e }}">
            </div>
            <div class="form-group">
                <label for="back">抽认卡背面</label>
                <div id="edit_img"><textarea name="back"
                          class="form-control"
                          id="edit_back"
                          placeholder="back of card"
                          rows="12">{{ card.back|e }}</textarea></div>
                <input id="uid_edit" name="uid" type="hidden" />
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="known"
                               value="1" {{ "checked" if (card.known == 1) else "" }} /> Known
                        </label>
                    </div>
                </div>
                <div class="col-xs-6 text-right" onclick="delete_card()">
                    <a  class="btn btn-danger btn-xs">
                        <i class="fa fa-trash"></i>
                        永久移除该抽认卡
                    </a>
                </div>
            </div>

            <hr />
            <div class="form-group">
                <input id="card_id" type="hidden" name="card_id" value="{{ card.id|e }}" />
                <input id="card_img_save" type="hidden" name="img" value="" />
                <button type="button" class="saveButton btn btn-lg btn-primary" onclick="edit_save_card()">保存该抽认卡</button>
            </div>
        </form>
    </div>
    
    <div id="add_card" class="well editPanel" style="display: none;">
        <h2>添加抽认卡</h2>
        <form id="add_form"  method="post" class="cardForm">
            <div class="form-group">
                <label for="general" class="toggleButton btn btn-default btn-lg">日常问题 &nbsp;
                    <input type="radio" name="type" value="1" id="general"/>
                </label>
                <label for="code" class="toggleButton btn btn-default btn-lg">代码片段 &nbsp;
                    <input type="radio" name="type" value="2" id="code"/>
                </label>
            </div>
            <div class="form-group fieldFront">
                <label for="front">抽认卡正面</label>
                <input type="text" name="front" id="front" class="form-control">
            </div>
            <div class="form-group fieldBack">
                <label for="back">抽认卡背面</label>
               
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active">
                        <a href="#home" data-toggle="tab">
                             富文本编辑
                        </a>
                    </li>
                    <li><a href="#ios" data-toggle="tab">markdown编辑</a></li>
                    
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="home">
                         <textarea name="back"
                                          class="form-control"
                                          id="add_back"
                                          placeholder="back of card"
                                          rows="12">
                                        </textarea>
                    </div>
                    <div class="tab-pane fade" id="ios">
                        <div class="wrapper">
   
                            <div id="vditor" style="max-width: 1000px"></div>
                            <div id="vditorComments"></div>
                        
                        </div>

                    </div>
                    
                </div>

                        <div id="preview" ></div>
                        <input id="img" name="img" type="hidden"/>
                        <input id="uid" name="uid" type="hidden"/>
                        
                          <p id="log"></p>
            </div>
            <div class="form-group">
                <button type="button" onclick="add_form()" class="saveButton btn btn-lg btn-primary">保存</button>
            </div>
        </form>
    </div>
    
    <!-- <script>
        tinymce.init({
            selector: '#edit_back',
            language:'zh_CN',//注意大小写
            
        });
    </script> -->
    
<script>
	const addScript = (path, callback) => {
    const scriptElement = document.createElement('script')
    scriptElement.src = path
    scriptElement.async = true
    document.head.appendChild(scriptElement)
    scriptElement.onload = () => {
        callback()
    }
}

const updateCode = (btnElement, code) => {
    if (btnElement.classList.contains('btn--red')) {
        return
    } else {
        const redBtnElement = document.querySelector('.btn--red')
        if (redBtnElement) {
            redBtnElement.classList.remove('btn--red')
        }
        btnElement.classList.add('btn--red')
    }

    const demoCodeElement = document.getElementById('vditorDemoCode')
    demoCodeElement.firstElementChild.innerHTML = `<code>${code}
</code>`
    Vditor.highlightRender({
        lineNumber: true,
        enable: true
    }, demoCodeElement)
    Vditor.codeRender(demoCodeElement)
}

document.addEventListener('DOMContentLoaded', function() {
    var hm = document.createElement('script')
    hm.src = 'https://hm.baidu.com/hm.js?3035c273d83b0b76e762b7397c790e84'
    var s = document.getElementsByTagName('script')[0]
    s.parentNode.insertBefore(hm, s)

    if (document.getElementById('vditorComments')) {
        addScript('https://cdn.jsdelivr.net/npm/vditor@3.3.2/dist/index.min.js',
            () => {
                const demoCodeElement = document.getElementById('vditorDemoCode')
                if (demoCodeElement) {
                    Vditor.highlightRender({
                            lineNumber: true,
                            enable: true
                        },
                        demoCodeElement)
                    Vditor.codeRender(demoCodeElement)
                }
                if (typeof vditorScript !== 'undefined') {
                    vditorScript()
                }
//                 addScript('https://cdn.jsdelivr.net/npm/vcmt@latest/dist/index.min.js',
//                     () => {
//                         const vcomment = new Vcomment({
//                             id: 'vditorComments',
//                             postId: '154963874563022',
//                             url: 'https://hacpai.com',
//                             userName: 'Vanessa',
//                             currentPage: 1,
//                             vditor: {
//                                 hljsEnable: true,
//                                 hljsStyle: 'github',
//                             },
//                             after() {
//                                 const commentCntElement = document.getElementById(
//                                     'commentsCount')
//                                 document.getElementById(
//                                     'commentCnt').innerText = commentCntElement.innerText + ' 个讨论'
//                                 commentCntElement.nextSibling.remove()
//                                 commentCntElement.remove()
//                             },
//                             error() {
//                                 document.getElementById('comments').remove()
//                             },
//                         })
// 
//                         vcomment.render()
//                     })
            })
    }
})
 
</script>
    <script>
        vditorScript = () => {
            new Vditor('vditor', {
              toolbarConfig: {
                pin: true,
              },
              width:1300,
              height:200,
              counter: {
                enable: true,
              },
              toolbar: [
                'emoji',
                'link',
                'upload',
                'edit-mode',
                {
                  name: 'more',
                  toolbar: [
                    'insert-after',
                    'fullscreen',
                    'preview',
                    'info',
                    'help',
                  ],
                },
              ],
            })
          }
        // jquery传过来数据是否为空
        card = "{{card}}"
        if(card=="None"){
            //隐藏记忆卡，使用添加按钮
            $('.memorizePanel').toggle()
            $('.col-xs-12.text-center').toggle()
            $("#add_card").toggle()

        }
        sessionStorage.setItem('card_type','{{card_type}}')
        
        tinymce.init({
            selector: '#add_back',
            language:'zh_CN',//注意大小写
            plugins:  [
            "advlist autolink lists link image charmap print preview hr anchor pagebreak",
            "searchreplace wordcount visualblocks visualchars code fullscreen",
            "insertdatetime media nonbreaking save table contextmenu directionality",
            "emoticons template paste textcolor colorpicker textpattern code"
            ],
            paste_data_images: true,
            toolbar: 'image',
            images_upload_credentials: true,
            images_reuse_filename: true,
            image_advtab: true, // IMAGE ADVANCED TAB
            images_upload_base_path: 'files',
            images_upload_url: 'doFileUpload.asp',
            automatic_uploads: true,
            file_picker_types: 'file, image, media',
            file_picker_callback: function(callback, value, meta) {
                //alert(7)
            },
            images_dataimg_filter: function(img) {
              //  alert(5) // 这时候只要添加是必然经过这里的所以可以再这里做文章，可能也跟自己的版本号有关系
                return !img.hasAttribute('internal-blob');  // blocks the upload of <img> elements with the attribute "internal-blob".
              },
            images_upload_handler: function (blobInfo, success, failure) {
                var xhr, formData;
              //  alert(1)
               
            }
        });
        tinymce.init({
            selector: '#edit_back',
            language:'zh_CN',//注意大小写
            plugins: 'image',
            toolbar: 'image',
            images_upload_handler: function (blobInfo, success, failure) {
              //  alert(2)
               
            }
        });
       
        document.addEventListener('paste', function (event) {
            var items = (event.clipboardData || window.clipboardData).items;
            var file = null;
            if (items && items.length) {
                // 搜索剪切板items
                for (var i = 0; i < items.length; i++) {
                    if (items[i].type.indexOf('image') !== -1) {
                        file = items[i].getAsFile();
                        break;
                    }
                }
            } else {
                log.innerHTML = '<span style="color:red;">当前浏览器不支持</span>';
                return;
            }
            if (!file) {
                log.innerHTML = '<span style="color:red;">粘贴内容非图片</span>';
                return;
            }
            // 此时file就是我们的剪切板中的图片对象
            // 如果需要预览，可以执行下面代码
            $('#add_card #add_back').toggle()
            var reader = new FileReader()
            reader.onload = function(event) {
                console.log(event.target.result)
                preview.innerHTML = '<img src="' + event.target.result + '" class="upload-image">';
                edit_img.innerHTML = '<img src="' + event.target.result + '" class="upload-image">';
                back_card_img.innerHTML = '<img src="' + event.target.result + '" class="upload-image">';
                $('#card_img_save').val(event.target.result)
                //用于添加新的base图片 add_card
                $('#img').val(event.target.result)
            }

            reader.readAsDataURL(file);
            // 如果不需要预览，上面这段可以忽略
        });
        $(".alert-success").toggle()
        function edit_card(){
         $("#edit_card").toggle()
         
        }
        /**抽认卡ajax删除、删除抽认卡*/
        function delete_card(){
            var string_code = $("#edit_card h2").html()
            uid = sessionStorage.getItem('uid')
                // 正则匹配 如果是相同的id号则重复检索
            var regexp2 = /[0-9]+/g 
            var card_id =string_code.match(regexp2)[0]
            // var card_type = $('#active_button_raw .btn-primary')[0].href.match('/\/.*\/(.*)')[1]
            var card_type = sessionStorage.getItem('card_type')
            $.ajax({
                url:"{{ url_for('ajax_delete')}}",
                type:"POST",
                data:JSON.stringify({'card_id':card_id,
                                     'card_type':card_type,
                                     'uid':uid
            }),
                dataType: 'json',
                processData:false,
                contentType:"application/json",
                success:function(data){
                        if(data.cards_total_number==2){
                            alert("该类抽认卡不可再删除、编辑、或者标记为熟悉！！！！")
                        }
                        else{
                            next_card()
                        }
                },
                error:function(e){
                        alert("error,请联系管理员");
                }
            })

        }
        function add_card(){
        
         $("#add_card").toggle()
         // 清空操作
         $('.fieldFront .form-control').val('')
         //
         $('#img').val('')
         if ($('#preview').html()!=""){
            $('#preview').html('')
            $('#add_back').toggle()
         }
        }
        function edit_save_card(){
            if (typeof($('#edit_img img')[0])!='undefined'){
                $('#card_img_save').val($('#edit_img img')[0].src)
                $('#edit_back').val("back")
            }
            // 编辑抽认卡保存时，替换val区域为tinymce内容区域
            $('#edit_back').val(tinyMCE.activeEditor.getContent())
            $('#uid_edit').val(sessionStorage.getItem('uid'))
            ajaxForm()
            $("#edit_card").toggle()

        }
        /**修改保存抽认卡，编辑抽认卡**/
        function ajaxForm(){
            var form= new FormData(document.querySelector("#edit_form"));
            //添加card_type传输
            var string_code = $("#edit_card h2").html()
            // 正则匹配 如果是相同的id号则重复检索
            var regexp2 = /[0-9]+/g 
            var card_id =string_code.match(regexp2)[0]
            // var card_type = $('#active_button_raw .btn-primary')[0].href.match('/\/.*\/(.*)')[1]
            card_type = sessionStorage.getItem('card_type')
            // form.append('card_type',card_type)
            form.append('card_type',card_type)
            $.ajax({
                url:"{{ url_for('edit_card') }}",
                type:"post",
                data:form,
                dataType: 'json',
                processData:false,
                contentType:false,
                success:function(data){
                        
                        $('h3.text-center').html($('#edit_card input.form-control').val())
                        $('div pre code').html($('#edit_card textarea.form-control').val())
                        $(' .largerText').html($('#edit_card textarea.form-control').val())
                        $('.cardBack .frontText').html($('#edit_card textarea.form-control').val())
                        $(".alert-success").toggle()
                        
                        setTimeout(
                            function(){
                                $(".alert-success").toggle()
                            },2000
                        );
                        if(data.cards_total_number==2){
                            alert("剩余抽认卡不可再删除、编辑、或者标记为熟悉！！！！")
                        }
                        
                   
                        
                },
                error:function(e){
                        alert("error");
                }
            })
    }

     /**新增保存抽认卡**/
     function add_form(){
        $('#add_back').val(tinyMCE.activeEditor.getContent())
        $('#uid').val(sessionStorage.getItem('uid'))
        add_ajaxForm()
        $("#add_card").toggle()
        // 当抽记页面隐藏，添加完就显示该页面
        if($(".memorizePanel").is(":hidden")){
            $('.memorizePanel').toggle()
            $('.col-xs-12.text-center').toggle()
        }

    }
    /**添加新的抽认卡*/
     function add_ajaxForm(){
        var form= new FormData(document.querySelector("#add_form"));
        console.log(form.toString());
        $.ajax({
            url:"{{ url_for('ajax_add_card') }}",
            type:"post",
            data:form,
            dataType: 'json',
            processData:false,
            contentType:false,
            success:function(data){
                    $('#edit_card input.form-control').val($('#add_card input.form-control').val())
                    $('#edit_card textarea.form-control').val($('#add_card textarea.form-control').val())
                    $('h3.text-center').html($('#add_card input.form-control').val())
                    $('div pre code').html($('#add_card textarea.form-control').val())
                   
                    $(' .largerText').html($('#edit_card textarea.form-control').val())
                    $(".alert-success").toggle()
                    var card_id = data.lastrowid
                    var flag_message = '编辑抽认卡 #'+card_id
                    $("#edit_card h2").html(flag_message)
                    setTimeout(
                        function(){
                            $(".alert-success").toggle()
                        },2000
                    );
                    
            },
            error:function(e){
                    alert("error");
            }
        })
    }   

    /**下一张 抽认卡、下一页**/
    function next_card(){
        uid = sessionStorage.getItem('uid')
        $.ajax({
            url:"http://localhost:8088/"+sessionStorage.getItem('card_type'),
            type:"POST",
            data:JSON.stringify({'uid':uid}),
            dataType: 'json',
            processData:false,
            contentType:'application/json',
            success:function(data){
                var string_code = $("#edit_card h2").html()
                // 正则匹配 如果是相同的id号则重复检索
                var regexp2 = /[0-9]+/g 
                if (data.card=="None"){
                                        // 当前div隐藏，显示添加div框 ,适用于，第一次进入没数据，删除没数据，下一页没数据（编辑，mark都解决）
                    $('.memorizePanel').toggle()
                    $('.col-xs-12.text-center').toggle()
                    $("#add_card").toggle()
                    return;
                }
                if(data.card.id==string_code.match(regexp2)[0]&&data.cards_total_number>1){
                    next_card()
                }else{
                    
                    //点击下一页，如果是图片添加图片输出展示
                    if(data.card.img!=null){
                        $('h3.text-center').html(data.card.front)
                        $('#edit_card input.form-control ').val(data.card.front)
                        $("#edit_card h2").html("编辑抽认卡 #"+data.card.id)
                        $('#card_id').val(data.card.id)
                        card_img = '<img src="' + data.card.img + '" class="upload-image">'
                        back_card_img.innerHTML = card_img
                        edit_img.innerHTML = card_img
                        
                    }else{
                        $('h3.text-center').html(data.card.front)
                        $('#edit_card input.form-control ').val(data.card.front)
                        $('#edit_card textarea.form-control').val(data.card.back)
                        $("div pre code").html(data.card.back)
                        $("#edit_card h2").html("编辑抽认卡 #"+data.card.id)
                        $(".largerText").html(data.card.back) // todo 暂时解决
                        $(".cardBack .frontText").html(data.card.back) // todo 暂时解决
                        $('#card_id').val(data.card.id)
                        //点击下一页如果是文字则返回文本textarea标签
                        textarea = "<textarea name='back' class='form-control' id='edit_back' placeholder='back of card' rows='12'>"+data.card.back+" </textarea>"
                        edit_img.innerHTML = textarea
                        // 需要重新渲染该textarea为tiny
                        tinymce.init({
                            selector: '#edit_back',
                            language:'zh_CN',//注意大小写
                            plugins: 'image',
                            toolbar: 'image',
                            images_upload_handler: function (blobInfo, success, failure) {
                                var xhr, formData;
                                //alert(3)
                                
                            }
                        });
                    }
                }
               
            },
            error:function(e){
                    alert("error");
            }
        })
    }
    /**标记认识这张抽认卡*/
    function mark_know(){

        var string_code = $("#edit_card h2").html()
                // 正则匹配 如果是相同的id号则重复检索
        var regexp2 = /[0-9]+/g 
        var card_id =string_code.match(regexp2)[0]
       // 正则匹配 如果是相同的id号则重复检索
        // var card_type = $('#active_button_raw .btn-primary')[0].href.match('/\/.*\/(.*)')[1]
        card_type = sessionStorage.getItem('card_type')


        $.ajax({
            url:"{{ url_for('ajax_mark_known')}}",
            type:"post",
            data:JSON.stringify({'card_id':card_id,
                                  'card_type':card_type,
                                  'uid':sessionStorage.getItem('uid')
                                }),
            dataType: 'json',
            processData:false,
            contentType:'application/json',
            success:function(data){
                $(".alert-success").toggle()
                setTimeout(
                    function(){
                        $(".alert-success").toggle()
                    },2000
                );
                if(data.cards_total_number==2){
                    alert("该类抽认卡不能再删除、编辑、或者标记为熟悉!!!!!")
                }
            },
            error:function(e){
                    alert("error,请联系管理员");
            }
        })

    }
    
    </script>
    <style>
        .btn-link {
            position: absolute;
            top: 6px;
            right: 15px;
          }
        .alert-success {
            position: absolute;
            z-index: 3;
            text-align: center;
            width: 900px;
        }
        #link_add_card {
            top:30px;
        }
        #link_delete_card {
            top:52px;
        }
    </style>
{% endblock %}
